svg text {
    pointer-events: none;
    font: 14px 'Open Sans', sans-serif;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.panel-container {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.38);
    background-color: rgba(251, 251, 255, 0.9);
    position: absolute;
}

div.mini-map {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow: hidden;
}

canvas.mini-map-canvas {
    position: absolute;
}

div.mini-map-view {
    border-width: 2px;
    border-color: rgba(55, 55, 55, 0.7);
    border-style: solid;
    background-color: rgba(77, 55, 66, 0.5);
    opacity: 0.5;
    /*z-index: 101;*/
    position: absolute;
}

polygon:hover {
    stroke-width: 2;
}

.document-list {
    font: 14px 'Open Sans', sans-serif;
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
}

table.doc_list {
    padding: 30px;
    width: 100%;
    font-size: 12px;
}

table.doc_list > tbody {
}

table.doc_list td {

    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 5px 0 5px 0;
}

div.loading {
    width: 100%;
    height: 100%;

}

div.panel-wrapper {
    position: relative;
    transform: translate(0, 0px);
    height: calc(100% - 60px);
    width: 100%;
}

div.panel-tab-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: white;
}

div.panel-tab-button {
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding: 9px 9px 9px 9px;
    margin: 8px 4px 0px 4px;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: rgba(0, 0, 0, 0.2);

    opacity: 0.7;
}

div.panel-tab-button:hover {
    opacity: 1;
}

div.active {
    opacity: 1;
    background-color: rgba(251, 251, 255, 0.9);
}

div.searchbox-wrapper {
    height: 55px;
    width: 100%;
}

input.search-box {
    height: 45px;
    width: calc(100% - 120px);
    margin: 0;
    border-width: 0;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    font-size: 21px;
}

button.search-button {
    height: 55px;
    width: 100px;
    font-size: 21px;
    padding: 17px;
    background-color: rgba(222, 222, 226, 0.9);
    border-width: 0;
    margin: 0;
    vertical-align: top;
}

div.search-result-container {
    height: calc(100% - 110px);
    width: 100%;
    overflow-y: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

div.result {
    display: block;
    padding: 10px;
    font-size: 18px;
    font-family: Arial;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
}

label.result-text {
    font: inherit;
    cursor: pointer;
}

label.result-text:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
}

div.select-all {
    padding: 10px;
    display: inline-block;
    font-size: 18px;
    font-family: Arial;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
}

div.show-selected {
    padding: 10px;
    display: inline-block;
    font-size: 18px;
    font-family: Arial;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(222, 222, 226, 0.9);
    cursor: pointer;
}

div.show-selected:hover {
    background-color: rgba(222, 222, 244, 0.9);
}

div.checkbox-container {
    left: 30px;
    bottom: 200px;
    position: absolute;
    height: 150px;
    width: 200px;
    padding: 15px 15px 15px 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
}

div.pie-checkbox {
    margin: 8px;
    border-width: 0 0 0 20px;
    border-style: solid;
}

div.pie-checkbox-text {
    -webkit-transform: translate(-15px, 0);
    -moz-transform: translate(-15px, 0);
    -ms-transform: translate(-15px, 0);
    -o-transform: translate(-15px, 0);
    transform: translate(-15px, 0);
    display: inline-block;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

div.pie-checkbox-text:hover{
    color: darkgray;
}
